.image-card {
    height:fit-content;
    position: relative;
    overflow: hidden;
}

.photo-info {
    position: absolute;
    width: 100%;
    padding: 0.5rem 1rem;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    transform: translateY(100%);
    transition: all 0.3s linear;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-card:hover .photo-info {
    transform: translateY(0);
}