* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    min-height: 100vh;
    position:relative;
}

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 375px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}
 
 // Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}
 
 // Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}
 
 // Extra large devices
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

.jumbotron {
    .search-bar{
        @include sm {
            width: 90vw;
        }
        @include md {
            width: 30vw;
        }
        @include lg {
            width: 30vw;
        }
    }
}

.image-list {
    @include sm {
        display: block;
    
    }
    @include md {
        width: 100%;
        height: auto;
        padding: 0 1rem 1rem 1rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
        grid-auto-rows: 0
        
    }
    @include lg {
        width: 100%;
        height: auto;
        padding: 0 1rem 1rem 1rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
        grid-auto-rows: 0
    }
}